:root {
    /* Colors */
    --brown-800: hsl(14, 45%, 36%);
    --rose: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    /* Typography */
    --font-family-primary: 'Outfit', sans-serif;
    --font-family-secondary: 'Young Serif', serif;
}

body {
    font-family: var(--font-family-primary);
    color: var(--stone-600);
    background-color: var(--stone-100);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.main-content {
    max-width: 50%;
    margin: 10rem auto;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.recipe-title {
    font-size: 2.5rem;
    color: var(--stone-900);
    margin: 1rem 0;
    font-family: var(--font-family-secondary);
    font-weight: 400;
}

.recipe-description {
    font-size: 1rem;
    color: var(--stone-600);
    display: flex;
    text-align: left;
}

.section {
    margin: 1rem auto;
}

.prep-time {
    display: flex;
    flex-direction: column;
    background-color: var(--rose-white);
    border-radius: 1rem;
    margin: 1rem 0;
}

.prep-time-header {
    font-size: 1rem;
    color: var(--rose);
    margin-bottom: 0.5rem;
    padding: 0 1.5rem;
}

.prep-time-item::marker {
    color: var(--rose);
}

.ingredients-header, .instructions-header, .nutrition-header {
    font-size: 1.5rem;
    color: var(--brown-800);
    margin-bottom: 0.5rem;
    font-family: var(--font-family-secondary);
    font-weight: 400;
}

li {
    line-height: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

li::marker {
    color: var(--brown-800);
    margin-right: 2rem;
}

.ingredient-item {
    margin-bottom: 1rem;
}

.instructions-list li::marker {
    font-weight: 600;
}

.nutriton-table {
    width: 100%;
    border-collapse: collapse;
}

td.nutrition-value {
    color: var(--brown-800);
    font-weight: 600;
}